<section class="monty full-monty">
  <h3 class="type" role="heading" aria-level="3">Full Monty</span>
  <!-- {each sponsor} -->
    <section class="sponsor">
      <img class="logo">
      <p class="blurb"></p>
    </section>
  <!-- {each sponsor} -->
</section>

<section class="monty half-monty">
  <h3 class="type" role="heading" aria-level="3">Half Monty</span>
</section>

<section class="monty small-monty">
  <h3 class="type" role="heading" aria-level="3">Small Monty</span>
</section>