@import "settings";

html {
  min-width: 320px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: $black;
  color: $white;
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: $gold;
  text-decoration: none;
}
a:hover,
a:focus {
  color: darken($gold, 10%);
}
a:active {
  color: lighten($gold, 10%);
}

.button,
.button:active {
  @include fonz(18px);
  @include shadow;
  letter-spacing: 0;
  background: $gold;
  color: $black;
  padding: 10px 24px;
  white-space: nowrap;
  position: relative;
}
.button:hover,
.button:focus {
  background: darken($gold, 10%);
  color: $black;
}
.button:active {
  background: lighten($gold, 10%);
  color: $black;
}
.sold-out,
.sold-out:hover,
.sold-out:focus,
.sold-out:active {
  background: $silver;
  color: darken($silver, 20%);
  cursor: default;
}


/** Masthead **/
.masthead {
  position: relative;
  background-color: $red;
  text-align: center;
  padding: 29px 0;
  overflow: hidden;
  @include masthead-skyline();
  @media (min-width: 640px) {
    padding-top: 162px;
  }
  @media (min-width: 1024px) {
    padding-top: 113px;
  }
}

.masthead nav {
  margin-bottom: 50px;
  @media (min-width: 640px) {
    width: 50%;
    float: left;
    margin-bottom: 0px;
  }
  @media (min-width: 1024px) {
    margin-bottom: 0px;
  }
}
.masthead nav a {
  @include fonz(32px);
  display: block;
  @media (min-width: 640px) {
    text-align: right;
    margin-right: 20px;
  }
  @media (min-width: 1024px) {
    font-size: 45px;
    margin-right: 40px;
  }
}
.masthead nav a:hover,
.masthead nav a:focus {
  background-color: darken($red, 3%);
}

.masthead .logo {
  margin: 0;
  @media (min-width: 640px) {
    width: 50%;
    float: right;
    text-align: left;
  }
}
.masthead .logo img {
  vertical-align: middle;
  @media (min-width: 640px) {
    margin-left: 20px;
  }
  @media (min-width: 1024px) {
    margin-left: 40px;
  }
}

.masthead .details-tickets-wrapper {
  @media (min-width: 640px) {
    border-bottom: 1px solid darken($red, 5%);
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.masthead .tickets-wrapper {
  @media (min-width: 1024px) {
    width: 50%;
    float: right;
  }
}
.masthead .tickets {
  padding: 16px;
  @media (min-width: 640px) {
    padding: 16px 40px;
    padding-top: 10px;
  }

}
.masthead .tickets .button {
  @media (min-width: 640px) {
    font-size: 30px;
    display: block;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
  }
}
.masthead .tickets .buy-vat {
  font-size: 14px;
}

.masthead .details-wrapper {
  @media (min-width: 1024px) {
    width: 50%;
    float: left;
  }
}
.masthead .details {
  @include fonz(16px);
  letter-spacing: 2px;
  margin: 38px 20px;
  @media (min-width: 640px) {
    clear: both;
    margin: 10px;
    margin-bottom: 0;
  }
  @media (min-width: 1318px) {
    margin-top: 22px;
  }
}
.masthead .details .summary {
  display: none;
}
.masthead .details .location span {
  white-space: nowrap;
}


/** Sections **/
.region {
  background-color: $black;
  color: $white;
  padding: 30px 20px;
  @include skyline();
}
.region.alt {
  background-color: $white;
  color: $black;
  @include alt-skyline();
}

.section-heading {
  @include fonz(30px);
  margin: 0;
  @media (min-width: 640px) {
   font-size: 40px;
  }
  @media (min-width: 1024px) {
   font-size: 60px;
  }
}

/** Sessions **/
.sessions {
  padding-left: 0;
  padding-right: 0;
}
.sessions .section-heading {
  margin-bottom: 40px
}

.session .session-body,
.session .session-header hr {
  display: none;
}
.session.open .session-body,
.session.open .session-header hr {
  display: block;
  overflow: hidden;
}
.session {
  border-bottom: 1px solid $darkgrey;
  text-align: center;
  display: block;
  list-style-type: none;
  overflow: hidden;
}
.session .veil {
  overflow: hidden;
  background: rgba(0,0,0,0.5);
  padding: 20px 25px;
  padding-top: 10px;
  padding-bottom: 180px;
  @media (min-width: 640px) {
    padding: 20px 40px;
    padding-top: 30px;
  padding-bottom: 180px;
  }
}
.session:last-child {
  border-bottom: 0;
/*   padding-bottom: 9px; */
}
.session-header,
header.break {
  padding: 15px 30px;
  background: rgba(0,0,0,0.5);
  @media (min-width: 640px) {
    overflow: hidden;
  }
}
.session .time {
  color: $grey;
  font-weight: 300;
  @media (min-width: 640px) {
    width: 20%;
    text-align: left;
    float: left;
  }
}
.session .title-wrapper {
  @media (min-width: 640px) {
    width: 80%;
    text-align: left;
    float: left;
  }
}
.session .title {
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  color: $gold;
  text-align: auto 100%;
}
.session-style-speakers .session .title,
.session-style-schedule .session .title {
  @media (min-width: 640px) {
    text-align: left;
    float: left;
    margin-right: 20px
  }
}

.session .break .title {
  color: $white;
}
.session .speaker {
  font-style: italic;
  font-weight: 300;
  @media (max-width: 640px) {
    display: none;
  }
}

.session .description-wrapper {
  @media (min-width: 640px) {
    width: 50%;
    float: left;
    margin-top: 10px;
  }
  @media (min-width: 1024px) {
    width: 33%;
  }
}

.session-style-titles .session .description-wrapper {
  @media (min-width: 640px) {
    width: 100%;
    margin: 0 auto;
    float: none;
  }
  @media (min-width: 1024px) {
    width: 50%;
  }
  margin-top: 10px;
}

.session .description-wrapper p {
  text-align: left;
  font-style: italic;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.session .description-wrapper p:last-child {
  margin-bottom: 0;
}
.session .description-wrapper p {
  font-weight: 400;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.9);
}
.session .description-wrapper .bio p {
  color: $silver;
  font-weight: 300;
}

.session .mugshot {
  @media (max-width: 639px) {
   display: none;
  }
  @media (min-width: 640px) {
    margin-top: 16px;
    width: 45%;
    float: right;
  }
  @media (min-width: 1024px) {
    width: 33%;
    float: left;
  }
}
.session .mugshot {
  box-sizing: border-box;
  @include shadow;
/*   max-width: 300px; */
  background-position: 50% 50%;
  background-size: cover;
  @media (min-width: 640px) {
    max-height: 250px;
  }
  @media (min-width: 1024px) {
    margin-left: 3%;
    margin-right: 3%;
    max-height: 100%;
  }
}

.session .mugshot img {
  visibility: hidden;
  vertical-align: middle;
}
.session .links-wrapper {
  @media (min-width: 640px) {
    width: 45%;
    float: right;
    clear: right;
  }
  @media (min-width: 1024px) {
    width: 27%;
    float: right;
    clear: none;
  }
}
.session .links {
  @media (min-width: 1024px) {
    margin-left: 5px;
    margin-top: 15px;
  }
}
.session .links .button {
  display: block;
  margin: 10px 0;
  text-align: left;
  padding: 10px;
}

/** Workshops **/
.workshops {
  overflow: hidden;
}
.workshops .section-heading {
  margin-bottom: 35px;
}
.workshop-wrapper {
  @media (min-width: 640px) {
    width: 50%;
    float: left;
  }
}
.workshop {
  @include shadow;
  margin-bottom: 25px;
  position: relative;
  @media (min-width: 640px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.workshop header,
.workshop .description {
  padding: 20px;
  margin: 0;
}
.workshop .mugshot {
  background-size: cover;
  max-height: 200px;
  overflow: hidden;
  background-position: 50% 40%;
}
.workshop .mugshot img {
  width: 100%;
  vertical-align: middle;
  visibility: hidden;
}
.workshop header {
  text-transform: uppercase;
}
.workshop .speaker {
  color: $grey;
}
.workshop .title {
  margin: 0;
}
.workshop .description {
  color: $darkgrey;
  padding-top: 0;
  font-style: italic;
}
.workshop .button {
  display: block;
  border: 0;
  box-shadow: none;
  text-align: left;
}

/** Locations **/
.locations {
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
}
.location-category {
  border-bottom: 1px solid $darkgrey;
  padding: 10px 20px;
  text-align: center;
  overflow: hidden;
  max-width: 1024px;
  margin: 0 auto;
}
.location-category:last-child {
  border-bottom: 0;
}
.location-category .type {
  color: $grey;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  @media (min-width: 640px) {
    width: 25%;
    text-align: left;
    float: left;
    margin-bottom: 0;
  }
}
.locations-list {
  @media (min-width: 640px) {
    text-align: left;
    float: left;
  }
}
.location {
  margin-bottom: 10px;
  @media (min-width: 640px) {
    margin-bottom: 20px;
  }
}
.location:last-child {
  margin-bottom: 0;
}
.location .name {
  text-transform: uppercase;
  font-weight: 700;
}
.location .note {
  font-style: italic;
  font-weight: 300;
}
.location .note p {
  margin: 0;
}
.location .extra {
  color: $grey;
}

/** Sponsors **/
.monty {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 4px; /* Keep bottom of box-shadow */
  clear: both;
}
.monty .type {
  color: $grey;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  margin: 0 0 30px 0;
}
.sponsor-wrapper {
  width: 50%;
  float: left;
  text-align: center;
  margin-bottom: 20px;
  @media (min-width: 446px) {
    width: 33.3333%;
  }
  @media (min-width: 580px) {
    width: 25%;
  }
}
.sponsor {
  display: inline-block;
  @include shadow($silver);
  padding: 10px;
  @media (min-width: 740px) {
    padding: 30px;
  }
  @media (min-width: 898px) {
    padding: 50px;
  }
}
.sponsor .logo img {
  max-width: 100%;
  max-height: 10rem;
}
a.sponsor:hover,
a.sponsor:focus {
  @include shadow($black);
}

.full-monty {
  overflow: visible;
}
.full-monty .type {
  margin-bottom: 30px;
}
.full-monty .sponsor-wrapper {
  float: none;
  width: auto;
}
.full-monty .sponsor-wrapper {
  @media (min-width: 580px) {
    width: 50%;
    float: left;
  }
}
.full-monty .sponsor {
  display: block;
  float: none;
  text-align: center;
  @include shadow;
  margin-bottom: 30px;
  @media (min-width: 580px) {
    margin: 0 10px 30px 10px;
  }
}
@media (max-width: 580px) {
  .full-monty .sponsor:last-child {
    margin-bottom: 0;
  }
}
.full-monty .blurb {
  text-align: left;
  padding: 20px 10px;
  font-style: italic;
  color: $grey;
  font-weight: 300;
  letter-spacing: 1px;
  @media (max-width: 440px) {
    display: none;
  }
}


/** Footer **/
footer {
  padding: 70px 20px;
  text-align: center;
}
.twitter {
  @include fonz(21px);
  color: $white;
  letter-spacing: 3px;
  @media (min-width: 640px) {
    font-size: 40px;
  }
  @media (min-width: 1024px) {
    font-size: 60px;
  }
}
.twitter .at {
  font-weight: 700;
}
.previously {
  text-align: center;
}
.previously a {
  @include fonz(20px, 700);
  letter-spacing: 2px;
  padding: 0 7px;
  @media (min-width: 640px) {
    font-size: 30px;
  }
}
footer .blurb {
  max-width: 60em;
  margin: 70px auto;
  font-size: 14px;
  color: $darkgrey;
  text-align: left;
}


footer .left-logic {
  display: block;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 227px;
  height: 47px;
  background-image: url(/images/leftlogic.png);
}
footer .left-logic:hover,
footer .left-logic:focus,
footer .left-logic:active {
  background-position: bottom;
/*  background-image: -webkit-cross-fade(url(/images/leftlogic-1.png),  url(/images/leftlogic-2.png), 100%);*/
}



#left-logic {
  text-align: center;
}
#left-logic {
  display: block;
  width: 226px;
  height: 47px;
  margin: 0 auto;
  text-indent: -200%;
  overflow: hidden;
  background-position: top;
  background-image: url('/images/left-logic.png');
  @media (max-width: 480px) {
    width: 113px;
    height: 23.5px;
    background-size: 113px, 23.5px;
  }
}
#left-logic:hover,
#left-logic:focus,
#left-logic:active {
  background-position: bottom;
}

/** Workshop Pullout */
.workshop-pullout .masthead {
  padding-top: 0;
  @include skyline;
}
.workshop-pullout nav {
  border-bottom: 1px solid darken($red, 3%);
  text-align: left;
  padding: 0 10px;
  margin-bottom: 40px;
}
.workshop-pullout nav a {
  display: inline-block;
  font-style: normal;
  font-weight: 300;
  padding: 0 10px;
  text-align: center;
}
.workshop-pullout .section-heading {
  padding: 0 20px;
  margin-bottom: 40px;
}
.workshop-pullout h1.section-heading {
  color: $gold;
  letter-spacing: 3px;
  line-height: 30px;
}
.workshop-pullout .mugshot {
  @include shadow;
  background-position: 50% 40%;
  background-size: cover;
  height: 220px
}
.workshop-pullout .mugshot img {
  width: 100%;
  vertical-align: middle;
  visibility: hidden;
}
.workshop-pullout .details {
  margin-top: 20px;
}
.workshop-pullout .detail {
  border-bottom: 1px solid $silver;
  overflow: hidden;
  padding: 10px 0;
}
.workshop-pullout .detail:last-child {
  border-bottom: 0;
}
.workshop-pullout .detail .type,
.workshop-pullout .detail .data {
  display: block;
  text-transform: uppercase;
}
.workshop-pullout .detail .type {
  float: left;
  color: $grey;
  font-weight: 300;
  position: absolute;
}
.workshop-pullout .detail .data {
  float: right;
  text-align: right;
  font-weight: 600;
}
.workshop-pullout .description {
  font-weight: 600;
}
.workshop-pullout .description,
.workshop-pullout .extendedDescription {
  font-style: italic;
}
.workshop-pullout .extendedDescription {
  font-weight: 300;
  color: $darkgrey;
}
.workshop-pullout .topics {
  border-top: 1px solid $grey;
  margin: 40px 0 30px 0;
  padding-top: 30px;
}
.workshop-pullout .topic {
  font-style: italic;
  margin: 15px 0;
}
.workshop-pullout .topic .title,
.workshop-pullout .topic .description {
  display: block;
}
.workshop-pullout .topic .description {
  color: $grey;
}

.button:after {
  color: rgba(32, 29, 30, 0.3);
  content: 'ã€‰';
  font-style: normal;
  position: absolute;
  right: 0;
}

.button.buy span {
  text-align: left;
}

.session .session-wrapper {
  overflow: hidden;
  }

.session-body {
    background-size: 100%;
  background-position: bottom center;
  background-repeat: repeat-x;
  @media (min-width: 640px) {
    background-size: contain;
  }
}

.bg-shops .session-body {
  background-image: url(/images/backgrounds/shops.png);
}

.bg-shops .session-wrapper,
.bg-shops hr {
  background-color: #665c56;
}

.bg-mountains .session-body {
  background-image: url(/images/backgrounds/mountain.png);
}

.bg-mountains .session-wrapper,
.bg-mountains hr {
  background-color: #e77a24;
}

.bg-warehouse .session-body {
  background-image: url(/images/backgrounds/warehouse.png);
}

.bg-warehouse .session-wrapper,
.bg-warehouse hr {
  background-color: #7f7f7f;
}

.bg-subway .session-body {
  background-image: url(/images/backgrounds/subway.png);
}

.bg-subway .session-wrapper,
.bg-subway hr {
  background-color: #665c56;
}

.bg-space .session-body {
  background-image: url(/images/backgrounds/space.png);
}

.bg-space .session-wrapper,
.bg-space hr {
  background-color: #c4c4c4;
}

.bg-bridge .session-body {
  background-image: url(/images/backgrounds/bridge.png);
}

.bg-bridge .session-wrapper,
.bg-bridge hr {
  background-color: #4fb0db;
}

.bg-fence .session-body {
  background-image: url(/images/backgrounds/fence.png);
}

.bg-fence .session-wrapper,
.bg-fence hr {
  background-color: #4fb0db;
}


/** Custom Background **/
#flat-city.open {
  background-size: auto 100%;
  background-position: bottom left;
  .session-header {
    // border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .title {
    // color: #880807;
    font-weight: 700;
  }
  .time {
    color: #ffe59d;
  }
  .speaker {
    color: #ffe59d;
  }
  .description-wrapper {
    // color: #452612;
    // text-shadow: 1px 0px #fedf93;
    // background-color: rgba(231, 121, 36, 0.7);
    // padding: 10px 0 20px 0;
  }
  .details {
    // color: #673c22;
    // text-shadow: 1px 0px #fedf93;
  }
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 20px 0 0 0;
}