$gold: #f4c342;
$red: #a31712;
$black: #201d1e;
$white: #ffffff;
$grey: #afafaf;
$darkgrey: #877b7f;
$silver: #e8e8e8;

@mixin fonz($size, $weight: 800) {
  font-size: $size;
  font-style: italic;
  font-weight: $weight;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

@mixin shadow($colour: $black) {
  border: 1px solid $colour;
  box-shadow: 4px 4px 0px $colour;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: $black;
  color: $white;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: $gold;
  text-decoration: none;
}
a:hover,
a:focus {
  color: darken($gold, 10%);
}
a:active {
  color: lighten($gold, 10%);
}

.button,
.button:active {
  @include fonz(18px);
  @include shadow;
  letter-spacing: 0;
  background: $gold;
  color: $black;
  padding: 10px 24px;
  white-space: nowrap;
}
.button:hover,
.button:focus {
  background: darken($gold, 10%);
  color: $black;
}
.button:active {
  background: lighten($gold, 10%);
  color: $black;
}
.sold-out,
.sold-out:hover,
.sold-out:focus,
.sold-out:active {
  background: $silver;
  color: darken($silver, 20%);
  cursor: default;
}


/** Masthead **/
.masthead {
  background: $red;
  text-align: center;
  padding: 40px 0;
}

nav {
margin-bottom: 48px;
}
nav a {
  @include fonz(30px);
  display: block;
}
nav a:hover,
nav a:focus {
  background-color: darken($red, 3%);
}

.logo img {
  vertical-align: middle;
}

.tickets {
  padding: 16px;
}
.buy-vat {
  font-size: 14px;
}

.masthead .details {
  @include fonz(16px);
  letter-spacing: 2px;
  margin: 38px 20px;
}
.masthead .details .summary {
  display: none;
}
.masthead .details .location span {
  white-space: nowrap;
}


/** Sections **/
.region {
  background: $black;
  color: $white;
  padding: 30px 20px
}
.region.alt {
  background-color: $white;
  color: $black;
}

.section-heading {
  @include fonz(30px);
  margin: 0;
}

/** Sessions **/
.sessions {
  padding-left: 0;
  padding-right: 0;
}
.sessions .section-heading {
  margin-bottom: 40px
}
.session {
  padding: 10px 20px;
  border-bottom: 1px solid $darkgrey;
  text-align: center;
  display: block;
  list-style-type: none;
}
.session:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.session .time {
  color: $grey;
}
.session .title {
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  color: $gold;
}
.session .break .title {
  color: $white;
}
.session .speaker {
  font-style: italic;
  font-weight: 300;
}
.session .description,
.session .details {
  text-align: left;
  font-style: italic;
}
.session .description {
  font-weight: 400;
}
.session .details {
  color: $silver;
  font-weight: 300;
}
.session .mugshot {
  @include shadow;
}
.session .mugshot img {
  width: 100%;
  vertical-align: middle;
}
.session .links .button {
  display: block;
  margin: 10px 0;
  text-align: left;
  padding: 10px;
}

/** Workshops **/
.workshops .section-heading {
  margin-bottom: 35px;
}
.workshop {
  @include shadow;
  margin-bottom: 25px;
  position: relative;
}
.workshop header,
.workshop .description {
  padding: 20px;
  margin: 0;
}
.workshop .mugshot img {
  width: 100%;
  vertical-align: middle;
}
.workshop header {
  text-transform: uppercase;
}
.workshop .speaker {
  color: $grey;
}
.workshop .title {
  margin: 0;
}
.workshop .description {
  color: $darkgrey;
  padding-top: 0;
  font-style: italic;
}
.workshop .button {
  display: block;
  border: 0;
  box-shadow: none;
  text-align: left;
}

/** Locations **/
.locations {
  padding: 30px 0;
}
.location-category {
  border-bottom: 1px solid $darkgrey;
  padding: 10px 20px;
  text-align: center;
}
.location-category:last-child {
  border-bottom: 0;
}
.location-category .type {
  color: $grey;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}
.location {
  margin-bottom: 10px;
}
.location:last-child {
  margin-bottom: 0;
}
.location .name {
  text-transform: uppercase;
  font-weight: 700;
}
.location .note {
  font-style: italic;
  font-weight: 300;
}
.location .note p {
  margin: 0;
}
.location .extra {
  color: $grey;
}

/** Sponsors **/
.monty {
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 4px; /* Keep bottom of box-shadow */
}
.monty h3 {
  color: $grey;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px
}
.sponsor {
  @include shadow($silver);
  float: left;
  margin: 12px;
  /*
  node-sass calc() bug - see: https://github.com/andrew/node-sass/issues/112
  width: -webkit-calc(25% - 26px);
  width: calc(25% - 26px); /* 26 = border + margin (left & right) * /
  */
}
.sponsor .logo {
  display: block;
  padding: 11px;
  text-align: center;
}
.sponsor .logo img {

}
.full-monty .sponsor {
  @include shadow;
}
.full-monty .blurb {
  padding: 40px 30px;
  font-style: italic;
  color: $grey;
  font-weight: 300;
  letter-spacing: 1px;
}


/** Footer **/
footer {
  padding: 70px 20px;
  text-align: center;
}
.twitter {
  @include fonz(21px);
  color: $white;
  letter-spacing: 3px;
}
.twitter .at {
  font-weight: 700;
}
.previously {
  text-align: center;
}
.previously a {
  @include fonz(20px, 700);
  letter-spacing: 2px;
  padding: 0 7px;
}
footer .blurb {
  margin: 70px 0;
  font-size: 14px;
  color: $darkgrey;
  text-align: left;
}
#left-logic {
  text-align: center;
}
#left-logic {
  display: block;
  width: 127px;
  height: 27px;
  margin: 0 auto;
  text-indent: -100%;
  overflow: hidden;
  background-image: url('/images/left-logic.png');
}

/** Workshop Pullout */
.workshop-pullout .masthead {
  padding-top: 0;
}
.workshop-pullout nav {
  border-bottom: 1px solid darken($red, 3%);
  text-align: left;
  padding: 0 10px;
  margin-bottom: 40px;
}
.workshop-pullout nav a {
  display: inline-block;
  font-style: normal;
  font-weight: 300;
  padding: 0 10px;
  text-align: center;
}
.workshop-pullout .section-heading {
  margin-bottom: 40px;
}
.workshop-pullout h1.section-heading {
  color: $gold;
}
.workshop-pullout .mugshot {
  @include shadow;
}
.workshop-pullout .mugshot img {
  width: 100%;
  vertical-align: middle;
}
.workshop-pullout .details {
  margin-top: 20px;
}
.workshop-pullout .detail {
  border-bottom: 1px solid $silver;
  overflow: hidden;
  padding: 10px 0;
}
.workshop-pullout .detail:last-child {
  border-bottom: 0;
}
.workshop-pullout .detail .type,
.workshop-pullout .detail .data {
  width: 40%;
  display: block;
  text-transform: uppercase;
}
.workshop-pullout .detail .type {
  float: left;
  color: $grey;
  font-weight: 300;
}
.workshop-pullout .detail .data {
  float: right;
  text-align: right;
  font-weight: 600;
}
.workshop-pullout .description,
.workshop-pullout .extendedDescription {
  font-style: italic;
  font-weight: 400;
}
.workshop-pullout .description {

}
.workshop-pullout .extendedDescription {
  color: $darkgrey;
}
.workshop-pullout .topics {
  border-top: 1px solid $grey;
  margin: 40px 0 30px 0;
  padding-top: 30px;
}
.workshop-pullout .topic {
  font-style: italic;
  margin: 15px 0;
}
.workshop-pullout .topic .title,
.workshop-pullout .topic .description {
  display: block;
}
.workshop-pullout .topic .description {
  color: $grey;
}










