$gold: #f4c342;
$red: #a31712;
$black: #201d1e;
$lightblack: transparentize($black, 0.5); //#9f820f;
$white: #ffffff;
$grey: #afafaf;
$darkgrey: #877b7f;
$silver: #e8e8e8;

@mixin fonz($size, $weight: 700) {
  font-size: $size;
  font-style: italic;
  font-weight: $weight;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

@-webkit-keyframes gently-floating-by {
  from {
    background-position: bottom, 0 bottom, 0 bottom, 0 bottom;
  }
  to {
    background-position: bottom, 680px bottom, 1360px bottom, 2040px bottom;
  }
}

@mixin shadow($colour: $black) {
  border: 1px solid $colour;
  box-shadow: 4px 4px 0px $colour;
}

@mixin skyline($padding-bottom: 166px) {
  background-image: url('/images/skyline-white.png'),
                    url('/images/clouds-1.png'),
                    url('/images/clouds-2.png'),
                    url('/images/clouds-3.png');
  background-position: bottom, 0 bottom, 0 bottom, 0 bottom;
  background-repeat: repeat-x;
  padding-bottom: $padding-bottom;

  // -webkit-animation-name: gently-floating-by;
  // -webkit-animation-duration: 120s;
  // -webkit-animation-timing-function: linear;
  // -webkit-animation-iteration-count: infinite;
}

@mixin alt-skyline() {
  background-image: url('/images/skyline-black.png'),
                    url('/images/clouds-1.png'),
                    url('/images/clouds-2.png'),
                    url('/images/clouds-3.png');
}


@mixin masthead-skyline() {

  background-image: url('/images/skyline-black.png'),
                    url('/images/clouds-1.png'),
                    url('/images/clouds-2.png'),
                    url('/images/clouds-3.png'),
                    -o-linear-gradient(bottom, rgb(117,21,10) 0%, rgb(157,28,11) 100%);

  background-image: url('/images/skyline-black.png'),
                    url('/images/clouds-1.png'),
                    url('/images/clouds-2.png'),
                    url('/images/clouds-3.png'),
                    -moz-linear-gradient(bottom, rgb(117,21,10) 0%, rgb(157,28,11) 100%);

  background-image: url('/images/skyline-black.png'),
                    url('/images/clouds-1.png'),
                    url('/images/clouds-2.png'),
                    url('/images/clouds-3.png'),
                    -webkit-gradient(
                      linear,
                      left bottom,
                      left top,
                      color-stop(0, rgb(117,21,10)),
                      color-stop(1, rgb(157,28,11))
                    );

  background-image: url('/images/skyline-black.png'),
                    url('/images/clouds-1.png'),
                    url('/images/clouds-2.png'),
                    url('/images/clouds-3.png'),
                    -webkit-linear-gradient(bottom, rgb(117,21,10) 0%, rgb(157,28,11) 100%);

  background-image: url('/images/skyline-black.png'),
                    url('/images/clouds-1.png'),
                    url('/images/clouds-2.png'),
                    url('/images/clouds-3.png'),
                    -ms-linear-gradient(bottom, rgb(117,21,10) 0%, rgb(157,28,11) 100%);

  background-image: url('/images/skyline-black.png'),
                    url('/images/clouds-1.png'),
                    url('/images/clouds-2.png'),
                    url('/images/clouds-3.png'),
                    linear-gradient(bottom, rgb(117,21,10) 0%, rgb(157,28,11) 100%);

  background-position: bottom, 0 bottom, 0 bottom, 0 bottom;
  background-repeat: repeat-x;
  padding-bottom: 166px;
}