{{> header}}

  <header class="masthead" role="banner">

    <nav role="navigation">
      <a href="#sessions">Sessions</a>
      <a href="#workshops">Workshops</a>
      <a href="#locations">Locations</a>
      <a href="#sponsors">Sponsors</a>
    </nav>

    <h1 class="logo" role="heading" aria-level="1"><img src="/images/logo-placeholder.png"></h1>

    <div class="details-tickets-wrapper">

      <div class="details-wrapper">
        <div class="details vevent">
          <span class="summary">Full Frontal 2013</span>
          <time class="dtstart" title="2013-11-08T09:00" datetime="2013-11-08T09:00">8th November 2013</time>,
          <span class="location">
            <span>Duke of York’s</span> Picturehouse,
            <span>Brighton, UK</span>
          </span>
        </div>
      </div>

      <div class="tickets-wrapper">
        <div class="tickets">
          <a id="buy" href="http://leftlogic.stagehq.com" class="button buy">Buy Tickets &pound;345<span> <abbr class="buy-vat" title="plus Value Added Tax">+VAT</abbr></a>
          <a id="sold-out" href="http://leftlogic.stagehq.com" class="button sold-out">Sold Out</a>
        </div>
      </div>

    </div>

  </header>


  <section class="sessions region {{sessionMode}}" role="region" aria-labelledby="sessions">
    <h2 id="sessions" class="section-heading" role="heading" aria-level="2">Sessions</h2>
    <ol>
      {{#each sessions}}
        {{> session}}
      {{/each}}
    </ol>
  </section>


  <section class="workshops region alt" role="region" aria-labelledby="workshops">
    <h2 id="workshops" class="section-heading" role="heading" aria-level="2">Workshops</h2>
    {{#each workshops}}
      {{> workshop}}
    {{/each}}
  </section>


  <section class="locations region"role="region" aria-labelledby="locations">
    <h2 id="locations" class="section-heading" role="heading" aria-level="2">Locations</h2>
    <ul>
    {{#each locations}}
      {{> location}}
    {{/each}}
  </ul>
  </section>


  <section class="sponsors region alt" role="region" aria-labelledby="sponsors">
    <h2 id="sponsors" class="section-heading" role="heading" aria-level="2">Sponsors</h2>
    {{> sponsors}}
  </section>


  <footer>
    <a class="twitter" href="https://twitter.com/https://twitter.com/fullfrontalconf">
      <span class="at">@</span>fullfrontalconf
    </a>

    <p class="previously">
      <a href="http://2012.full-frontal.org">2012</a>
      <a href="http://2011.full-frontal.org">2011</a>
      <a href="http://2010.full-frontal.org">2010</a>
      <a href="http://2009.full-frontal.org">2009</a>
    </p>

    <p class="blurb">
      Full Frontal is run by Left Logic, a team of front end development specialists
      based in Brighton (UK). We’re one of the few web-development agencies that actively
      define the Internet, instead of the other way around. Our work is influenced by You.
      Your needs and the needs of your clients drive our design and build process, ensuring
      your website is finely tuned to your business conditions.
    </p>

    <a id="left-logic" href="http://leftlogic.com">Left Logic</a>

  </footer>

{{> footer}}
