{{> header}}

  <header class="masthead" role="banner">

    <nav role="navigation">
      <a href="#sessions">Sessions</a>
      <a href="/sideview">Side View</a>
      <a href="#workshops">Workshops</a>
      <a href="#locations">Locations</a>
      <a href="#sponsors">Sponsors</a>
    </nav>

    <p id="show-menu">Pull down for navigation...</p>

    <h1 class="logo" role="heading" aria-level="1"><img src="/images/ff_yellow.png"></h1>

    <div class="details-tickets-wrapper">

      <div class="details-wrapper">
        <div class="details vevent">
          <span class="summary">Full Frontal 2013</span>
          <time class="dtstart" title="2013-11-08T09:00" datetime="2013-11-08T09:00">8th November 2013</time>
          <span class="location">
            <!-- <span>Duke of York’s</span> Picturehouse -->
            <span>Brighton, UK</span>
          </span>
        </div>
      </div>

      <div class="tickets-wrapper">
        <div class="tickets">
          {{#if settings.onsale}}
            {{#if settings.soldout.conference}}
              {{#if settings.soldout.workshops}}
                <span class="button sold-out nogo">Sold Out</span>
              {{else}}
                <a id="buy" href="http://leftlogic.stagehq.com" class="button buy">Buy Tickets</a>
              {{/if}}
            {{else}}
          <a id="buy" href="http://leftlogic.stagehq.com" class="button buy">Buy Tickets &pound;150<span> <abbr class="buy-vat" title="plus Value Added Tax">+VAT</abbr></a>
            {{/if}}
          {{else}}
          <span class="button nogo">On sale 10-July 10am</span>
          {{/if}}
        </div>
      </div>

    </div>

  </header>

  <!--

  So maybe you're wondering where the speakers are? Does that matter?
  Certainly I'm not downplaying the important role the speakers play
  and how important they are to me personally, to put on this great
  event we've all come to love. The question remains: who are the
  speakers?

  Well, here's the thing. I've been saying that Full Frontal is
  primarily about the content. So I'm attempting to put my money
  where my mouth is. Full Frontal releases it tickets with the content
  only. You'll have to trust my judgement that the speakersa are
  going to be amazing...but then, when have I let you down?

  The *plan* is, once we've sold out, then I'll switch the mode on
  the site.

  This is an experiment, and if it fails quickly, I'll change my plan
  quickly, but hopefully this comment serves as some form of
  explanation as to what's going on.

  Good luck, and I hope to see you in November.

  - Remy / @rem

  -->
  <section class="sessions region session-style-{{settings.mode}}" role="region" aria-labelledby="sessions">
    <h2 id="sessions" class="section-heading" role="heading" aria-level="2">Sessions</h2>
    <ol>
      {{#each sessions}}
        {{> session}}
      {{/each}}
    </ol>
  </section>

  <section class="wide-wrapper">
    <section class="workshops region alt" role="region" aria-labelledby="workshops">
      <h2 id="workshops" class="section-heading" role="heading" aria-level="2">Workshops</h2>
      {{#each workshops}}
        {{> workshop}}
      {{/each}}
    </section>

    <section class="locations region"role="region" aria-labelledby="locations">
      <h2 id="locations" class="section-heading" role="heading" aria-level="2">Locations</h2>
      <ul>
      {{#each locations}}
        {{> location}}
      {{/each}}
    </ul>
    </section>
  </section>


  <section class="sponsors region alt" role="region" aria-labelledby="sponsors">
    <h2 id="sponsors" class="section-heading" role="heading" aria-level="2">Sponsors</h2>
    {{> sponsors}}
  </section>


  <footer>
    <a class="twitter" href="https://twitter.com/fullfrontalconf">
      <span class="at">@</span>fullfrontalconf
    </a>

    <p class="previously">
      <a href="http://2012.full-frontal.org">2012</a>
      <a href="http://2011.full-frontal.org">2011</a>
      <a href="http://2010.full-frontal.org">2010</a>
      <a href="http://2009.full-frontal.org">2009</a>
    </p>

    <p class="blurb">
      Full Frontal is run by Left Logic, a small team of developers based in Brighton (UK),
      specialising in Node based applications and bleeding edge front end technology.
    </p>

    <a id="left-logic" href="http://leftlogic.com">Left Logic</a>

  </footer>

{{> footer}}
