{{> header}}

  <header role="banner">

    <nav class="extrabold" role="navigation">
      <a href="#sessions">x</a>
      <a href="#workshops"><</a>
      <a href="#locations">></a>
    </nav>

    <h1 class="logo" role="heading" aria-level="1">Mobile Web Apps</h1>

    <div class="vevent extrabold">
      <span class="summary">Full Frontal 2013</span>
      <time class="dtstart" title="2013-11-08T09:00" datetime="2013-11-08T09:00">8th November 2013</time>,
      <span class="location">Duke of York’s Picturehouse, Brighton, UK</span>
    </div>

    <div class="tickets">
      <a href="http://leftlogic.stagehq.com" class="button buy">Buy Tickets &pound;345<span><abbr class="buy-vat" title="plus Value Added Tax">+VAT</abbr></a>
      <a href="http://leftlogic.stagehq.com" class="button buy">Sold Out</a>
    </div>

  </header>

  <section class="details alt">
    <h2 id="sessions" class="section-heading" role="heading" aria-level="2">Details</h2>

    <div class="mugshot"></div>

    <div class="time-location"></div>

    <p class="description">
    </p>

    <div class="extended-description">

    </div>

    <h3 id="sessions" class="section-heading" role="heading" aria-level="2">Topics</h3>

    <div class="topic">
      <span class="title"></span>
      <span class="description"></span>
    </div>

  </section>

{{> footer}}
