body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #201d1e;
  color: #fff;
}
a {
  color: #f1c400;
  text-decoration: none;
}

header {
  background: #9d1d0b;
  text-align: center;
  padding: 36px 0;
}

header .vevent {
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 36px;
}

header .vevent .summary {
  display: none;
}

.tickets {
  padding: 16px;
}
.buy,
.buy:active {
  background: #f1c400;
  color: #9d1d0b;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  font-size: 32px;
  padding: 16px;
}
.buy:hover,
.buy:focus {
  background: #FFD724;
}
.buy-vat {
  font-size: 0.8em;
}


section {
  background: #201d1e;
  color: #fff;
}
section.alt {
  background-color: #fff;
  color: #201d1e;
}

.section-heading {
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 5px;
}

.twitter {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-size: 700;
  color: #fff;
  font-size: 64px;
}

.previously {
  text-align: center;
  font-style: italic;
}
.previously a {
  font-size: 32px;
  padding: 0 16px;
}