body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #201d1e;
  color: white; }

a {
  color: #f4c342;
  text-decoration: none; }

a:hover, a:focus {
  color: #f1b212; }

a:active {
  color: #f7d172; }

.button, .button:active {
  font-size: 18px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0;
  background: #f4c342;
  color: #201d1e;
  border: 1px solid #201d1e;
  box-shadow: 4px 4px 0px #201d1e;
  padding: 10px 24px;
  white-space: nowrap; }

.button:hover, .button:focus {
  background: #f1b212;
  color: #201d1e; }

.button:active {
  background: #f7d172;
  color: #201d1e; }

/** Masthead **/
.masthead {
  background: #a31712;
  text-align: center;
  padding: 40px 0; }

nav {
  margin-bottom: 48px; }

nav a {
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  display: block; }

.logo img {
  vertical-align: middle; }

.tickets {
  padding: 16px; }

.buy-vat {
  font-size: 14px; }

.masthead .vevent {
  font-size: 16px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 38px 20px; }

.masthead .vevent .summary {
  display: none; }

.masthead .location span {
  white-space: nowrap; }

/** Sections **/
.region {
  background: #201d1e;
  color: white;
  padding: 30px 20px; }

.region.alt {
  background-color: white;
  color: #201d1e; }

.section-heading {
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  margin: 0; }

/** Sponsors **/
.monty {
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 4px;
  /* Keep bottom of box-shadow */ }

.monty h3 {
  color: #afafaf;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px; }

.sponsor {
  float: left;
  border: 1px solid #e8e8e8;
  margin: 12px;
  /*
  node-sass calc() bug - see: https://github.com/andrew/node-sass/issues/112
  width: -webkit-calc(25% - 26px);
  width: calc(25% - 26px); /* 26 = border + margin (left & right) * /
  */
  box-shadow: 4px 4px 0px #e8e8e8; }

.sponsor .logo {
  display: block;
  padding: 11px;
  text-align: center; }


.full-monty .sponsor {
  border: 1px solid #201d1e;
  box-shadow: 4px 4px 0px #201d1e; }

.full-monty .blurb {
  padding: 40px 30px;
  font-style: italic;
  color: #afafaf;
  font-weight: 300;
  letter-spacing: 1px; }

/** Footer **/
footer {
  padding: 70px 20px;
  text-align: center; }

.twitter {
  font-size: 21px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px; }

.twitter .at {
  font-weight: 700; }

.previously {
  text-align: center; }

.previously a {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 7px; }

footer .blurb {
  margin: 70px 0;
  font-size: 14px;
  color: #877b7f;
  text-align: left; }

#left-logic {
  text-align: center; }

#left-logic {
  display: block;
  width: 127px;
  height: 27px;
  margin: 0 auto;
  text-indent: -100%;
  overflow: hidden;
  background-image: url('/images/left-logic.png'); }
