body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #201d1e;
  color: white; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  color: #f4c342;
  text-decoration: none; }

a:hover, a:focus {
  color: #f1b212; }

a:active {
  color: #f7d172; }

.button, .button:active {
  font-size: 18px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #201d1e;
  box-shadow: 4px 4px 0px #201d1e;
  letter-spacing: 0;
  background: #f4c342;
  color: #201d1e;
  padding: 10px 24px;
  white-space: nowrap; }

.button:hover, .button:focus {
  background: #f1b212;
  color: #201d1e; }

.button:active {
  background: #f7d172;
  color: #201d1e; }

.sold-out, .sold-out:hover, .sold-out:focus, .sold-out:active {
  background: #e8e8e8;
  color: #b5b5b5;
  cursor: default; }

/** Masthead **/
.masthead {
  background: #a31712;
  text-align: center;
  padding: 40px 0; }

nav {
  margin-bottom: 48px; }

nav a {
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  display: block; }

nav a:hover, nav a:focus {
  background-color: #951510; }

.logo img {
  vertical-align: middle; }

.tickets {
  padding: 16px; }

.buy-vat {
  font-size: 14px; }

.masthead .details {
  font-size: 16px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 38px 20px; }

.masthead .details .summary {
  display: none; }

.masthead .details .location span {
  white-space: nowrap; }

/** Sections **/
.region {
  background: #201d1e;
  color: white;
  padding: 30px 20px; }

.region.alt {
  background-color: white;
  color: #201d1e; }

.section-heading {
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  margin: 0; }

/** Sessions **/
.sessions {
  padding-left: 0;
  padding-right: 0; }

.sessions .section-heading {
  margin-bottom: 40px; }

.session {
  padding: 10px 20px;
  border-bottom: 1px solid #877b7f;
  text-align: center;
  display: block;
  list-style-type: none; }

.session:last-child {
  border-bottom: 0;
  padding-bottom: 0; }

.session .time {
  color: #afafaf; }

.session .title {
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  color: #f4c342; }

.session .break .title {
  color: white; }

.session .speaker {
  font-style: italic;
  font-weight: 300; }

.session .description, .session .details {
  text-align: left;
  font-style: italic; }

.session .description {
  font-weight: 400; }

.session .details {
  color: #e8e8e8;
  font-weight: 300; }

.session .mugshot {
  border: 1px solid #201d1e;
  box-shadow: 4px 4px 0px #201d1e; }

.session .mugshot img {
  width: 100%;
  vertical-align: middle; }

.session .links .button {
  display: block;
  margin: 10px 0;
  text-align: left;
  padding: 10px; }

/** Workshops **/
.workshops .section-heading {
  margin-bottom: 35px; }

.workshop {
  border: 1px solid #201d1e;
  box-shadow: 4px 4px 0px #201d1e;
  margin-bottom: 25px;
  position: relative; }

.workshop header, .workshop .description {
  padding: 20px;
  margin: 0; }

.workshop .mugshot img {
  width: 100%;
  vertical-align: middle; }

.workshop header {
  text-transform: uppercase; }

.workshop .speaker {
  color: #afafaf; }

.workshop .title {
  margin: 0; }

.workshop .description {
  color: #877b7f;
  padding-top: 0;
  font-style: italic; }

.workshop .button {
  display: block;
  border: 0;
  box-shadow: none;
  text-align: left; }

/** Locations **/
.locations {
  padding: 30px 0; }

.location-category {
  border-bottom: 1px solid #877b7f;
  padding: 10px 20px;
  text-align: center; }

.location-category:last-child {
  border-bottom: 0; }

.location-category .type {
  color: #afafaf;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px; }

.location {
  margin-bottom: 10px; }

.location:last-child {
  margin-bottom: 0; }

.location .name {
  text-transform: uppercase;
  font-weight: 700; }

.location .note {
  font-style: italic;
  font-weight: 300; }

.location .note p {
  margin: 0; }

.location .extra {
  color: #afafaf; }

/** Sponsors **/
.monty {
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 4px;
  /* Keep bottom of box-shadow */ }

.monty h3 {
  color: #afafaf;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px; }

.sponsor {
  border: 1px solid #e8e8e8;
  box-shadow: 4px 4px 0px #e8e8e8;
  float: left;
  margin: 12px;
  /*
  node-sass calc() bug - see: https://github.com/andrew/node-sass/issues/112
  width: -webkit-calc(25% - 26px);
  width: calc(25% - 26px); /* 26 = border + margin (left & right) * /
  */ }

.sponsor .logo {
  display: block;
  padding: 11px;
  text-align: center; }


.full-monty .sponsor {
  border: 1px solid #201d1e;
  box-shadow: 4px 4px 0px #201d1e; }

.full-monty .blurb {
  padding: 40px 30px;
  font-style: italic;
  color: #afafaf;
  font-weight: 300;
  letter-spacing: 1px; }

/** Footer **/
footer {
  padding: 70px 20px;
  text-align: center; }

.twitter {
  font-size: 21px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px; }

.twitter .at {
  font-weight: 700; }

.previously {
  text-align: center; }

.previously a {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 7px; }

footer .blurb {
  margin: 70px 0;
  font-size: 14px;
  color: #877b7f;
  text-align: left; }

#left-logic {
  text-align: center; }

#left-logic {
  display: block;
  width: 127px;
  height: 27px;
  margin: 0 auto;
  text-indent: -100%;
  overflow: hidden;
  background-image: url('/images/left-logic.png'); }

/** Workshop Pullout */
.workshop-pullout .masthead {
  padding-top: 0; }

.workshop-pullout nav {
  border-bottom: 1px solid #951510;
  text-align: left;
  padding: 0 10px;
  margin-bottom: 40px; }

.workshop-pullout nav a {
  display: inline-block;
  font-style: normal;
  font-weight: 300;
  padding: 0 10px;
  text-align: center; }

.workshop-pullout .section-heading {
  margin-bottom: 40px; }

.workshop-pullout h1.section-heading {
  color: #f4c342; }

.workshop-pullout .mugshot {
  border: 1px solid #201d1e;
  box-shadow: 4px 4px 0px #201d1e; }

.workshop-pullout .mugshot img {
  width: 100%;
  vertical-align: middle; }

.workshop-pullout .details {
  margin-top: 20px; }

.workshop-pullout .detail {
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
  padding: 10px 0; }

.workshop-pullout .detail:last-child {
  border-bottom: 0; }

.workshop-pullout .detail .type, .workshop-pullout .detail .data {
  width: 40%;
  display: block;
  text-transform: uppercase; }

.workshop-pullout .detail .type {
  float: left;
  color: #afafaf;
  font-weight: 300; }

.workshop-pullout .detail .data {
  float: right;
  text-align: right;
  font-weight: 600; }

.workshop-pullout .description, .workshop-pullout .extendedDescription {
  font-style: italic;
  font-weight: 400; }


.workshop-pullout .extendedDescription {
  color: #877b7f; }

.workshop-pullout .topics {
  border-top: 1px solid #afafaf;
  margin: 40px 0 30px 0;
  padding-top: 30px; }

.workshop-pullout .topic {
  font-style: italic;
  margin: 15px 0; }

.workshop-pullout .topic .title, .workshop-pullout .topic .description {
  display: block; }

.workshop-pullout .topic .description {
  color: #afafaf; }
